.gantt{
    margin: 5px;
    position: relative;
}

.gantt__body{
    display: flex;    
}

.gantt__resources--header{
    text-align: center;
    /* border: 1px solid black; */
    align-items: center;
    display: flex;
    border-right: 1px solid #eee;
    background-color: #4162a5;
    color:#eee;
    font-weight: 500;
    padding-left: 3px;
    padding-right: 3px;
    transition: 0.3s;
}

.gantt__resources__body--row{
    padding-left: 3px;
    padding-right: 6px;
    text-align: center;
    /* border: 1px solid black; */
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: rgb(161, 161, 161);
    display: flex;
    transition: 0.3s;
}

.gantt__resources__body__row--btn-expand{
    cursor: pointer;
    color:#4162a5;
    font-weight: bold;
}

.gantt__resources__body__row__btn--title{
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.678);
    font-weight: 600;
}

.gantt__content{
    overflow: auto;        
}

.gantt__content--header{
    display:inline-flex;    
}

.gantt__content__header--unit{    
    /* min-width:150px; */
    text-align: center;
    /* border: 1px solid black; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #eee;
    background-color: #4162a5;
    color:#eee;
    font-weight: 500;
    transition: 0.3s;
}

.gantt__content__header--unit p{
    margin-bottom: 0;
    font-size: 14px;
}

.gantt__content--body{    
    display:inline-flex;
    flex-direction: column;
    flex: 1;
    /* transition: 0.3s; */
}

.gantt__content__body--row{
    display: flex;        
    position:relative;
    box-sizing: border-box;
    
    /* transition: 0.3s; */
}

.gantt__content__body__row--unit{
    /* width:150px; */
    height: 26px;
    text-align: center;
    /* border: 1px solid black; */
    border-right: 1px dotted;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    background-color: rgb(231, 231, 231);
    /* transition: 0.3s; */
}

.gantt__task--container{
    position: absolute;
    width:100%;
    height: 27px;
    transition: 0.3s;
}


